#addTrain {
    border: 10px;
    padding-left: 50px;
    padding-right: 50px;
    margin: 20px;
    width: 90%;
}
#currentTrainSchedule {
    border: 10px;
    padding-left: 50px;
    padding-right: 50px;
    margin: auto;
    width: 100%;  
}
.card-header {
     font-size: 30px;
}
.jumbotron {
    text-align: center;
    background-image: url("/assets/train.jpg");
}
input[type=text] {
    width: 100%;
 }


